cypress/videos/
cypress/screenshots/

cypress/plugins/

cypress.env.json

node_modules/

*.log

.cypress_cache/
.report/
coverage/

.env
.env.*
cypress.env.json

/pontoDeControle/*
!/pontoDeControle/.gitkeep